@import "tailwindcss";

@media (min-width: 1024px) and (min-height: 1000px) {
  #home {
    height: 60vh;
  }
}

@media (min-width: 768px) and (max-height: 750px) {
  #home {
    min-height: 80vh;
  }
}

@media (min-width: 1180px) {
  #event-cards {
    width: 70%;
  }
}

@media (min-width: 1280px) {
  #event-cards {
    width: 90%;
  }
}

@media (min-width: 1500px) {
  #event-cards {
    width: 80%;
  }
}

/* @media (min-width: 870px) {
    #event-cards {
        width: 90%;
    }
}

@media (max-width: 860px) {
    #event-cards {
        display: flex;
    }
} */

@theme {
  --breakpoint-xs: 30rem;

  --color-hglo-main-100: #C6E0D0;
  --color-hglo-main-400: #85B5AD;
  --color-hglo-main-500: #689d8b;
  --color-hglo-main-600: #509A81;
  --color-hglo-accent1-400: #9CC6CB;
  --color-hglo-accent2-400: #D6A48C;
  --color-hglo-natural-50: #E7E3d4;
  --color-hglo-natural-300: #F9FBFB;
}

hr {
  color: #86b896;
  color: #66ab7b;
  color: #3a8f54;

  color: #9dc9dd;
  color: #d6a48c;

  color: #e7e3d4;
  color: #f3f3f3;

}